<!doctype html>
<html lang="en">

<head>
    <title>Face Server - Streaming</title>

    <%- include('includes/head'); %>
</head>

<body>

    <%- include('includes/navbar'); %>

    <h2 class="mb-4">Bienvenue sur FaceServer !</h2>
    <p>Vous pourrez via cet interface observer la vue de la caméra ainsi que constater les logs de détections et de reconnaissances des personnes qui passent dans son champ. </p>
	
	
	
	
	
    <%- include ('includes/mjpeg') %>
	<br>
	

    <%- include ('includes/footer') %>
    <%- include ('includes/scripts') %>

</body>

</html>
